*{
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}
/* Chrome,Safari,Edge,Opera*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

/*Firefox*/
input[type="number"]{
  -moz-appearance: textfield;
}



/* .footer2{
	background-color: rgb(12, 76, 105);
	text-align: center;
	padding: 15px;
}
.footer2 p{
	color:white;
	font-size: 19px;
	font-family: 'Lato', sans-serif;
}


.OnlineServices{
    background-color: rgb(52, 226, 159);
    padding: 15px;
    text-align: center;
    
}
.OnlineServices span{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2px;
}
.dos{
	display: flex;
	justify-content: center;
	margin-bottom: 16px;
} */